# Database
DATABASE_URL="postgresql://user:password@localhost:5432/docflow"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="bsddaggiuhgkuhjsksdol"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
